<!DOCTYPE html>
<html ng-app="testMakerApp">
  <head>
    <title>Test Maker Application</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../fontawesome/css/font-awesome.css"/>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
  <header ng-controller="HeaderViewController">
    <div class="container">
        <div class="navbar-header">
            <div class="brand"><a href="#/">H</a></div>
            <div class="title">{{ title }}</div>
            <div class="nav_btns">
                <a href="#/new_test">NT | </a>
                <a href="#/my_tests">MT</a>
            </div>
        </div>

    </div>
  </header>
    <div ng-view></div>

    <script src="../angular/angular.js"></script>
    <script src="../angular-route/angular-route.js"></script>
    <script src="/js/angular/controllers.js"></script>
    <script src="/js/angular/routes.js"></script>
  </body>
</html>
