<div class="show_test" style="padding-top: 5em;">
    <p>
        {{test.test_name}}
    </p>

    <form action="">
    <div ng-repeat="question in test.questions">
        <p>
            {{question.name}}
        </p>



        <ul class="answers">
            <li ng-repeat="answer in question.answers">
                <input type="radio" ng-model="radio[$parent.$index]" name="question_{{$parent.$index}}" value="{{answer.answer}}"/>{{answer.answer}}

            </li>
        </ul>

    </div>
    </form>
    <pre>{{radio | json}}</pre>
    <button class="btn-black btn" ng-click="gradeTest()">Grade Test</button>
</div>
